.payment {
  &__card {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 32px;
    border: 1px solid var(--color-dark-green-opacity-20);
    border-radius: 8px;
  }

  &__card-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-dark-green-opacity-80);
  }

  &__card-info {
    font-family: var(--font-family-opensans);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__card-currency {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  &__card-account {
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
    color: var(--color-dark-blue);
  }

  &__card-variants {
    display: flex;
    flex-direction: column;
  }

  &__card-variant {
    padding: 30px 0;
    border-bottom: 1px solid var(--color-dark-green-opacity-80);

    &:last-child {
      padding-bottom: 0;
      border-bottom: 1px solid transparent;
    }
  }
}
