.payment {
  &__card {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 32px;
    border: 1px solid var(--color-dark-green-opacity-20);
    border-radius: 8px;
  }

  &__card-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-dark-green-opacity-80);
  }

  &__card-info {
    font-family: var(--font-family-opensans);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__card-currency {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  &__card-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 120%;
    font-weight: 700;
    color: var(--color-dark-blue);
  }

  &__card-variants {
    display: flex;
    flex-direction: column;
  }

  &__card-variant {
    padding: 30px 0;
    border-bottom: 1px solid var(--color-dark-green-opacity-80);

    &:last-child {
      padding-bottom: 0;
      border-bottom: 1px solid transparent;
    }
  }

  &__variant {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__variant-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }

  &__variant-benecifary {
    font-family: var(--font-family-opensans);
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }

  &__variant-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__variant-iban {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;

    span {
      color: var(--color-dark-blue);
    }
  }

  &__variant-about {
    position: relative;
    // padding-left: 20px;


    // &::before {
    //   content: '';
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   width: 14px;
    //   height: 14px;
    //   background-image: var(--star-icon);
    //   background-position: center;
    //   background-size: cover;
    //   background-repeat: no-repeat;
    // }
  }

  &__about-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &__about-items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__about-item {
    font-family: var(--font-family-opensans);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;


    span {
      font-size: 18px;
      font-weight: 300;
    }
  }
}
