.payment {
  &__card {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: clamp(10px, 4.161vw, 32px);
    border: 1px solid var(--color-dark-green-opacity-20);
    border-radius: 8px;
  }

  &__card-title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: var(--color-dark-green-opacity-80);
  }

  &__card-info {
    font-family: var(--font-family-opensans);
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  &__details {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__card-currency {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  &__card-account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: clamp(16px, 2.341vw, 18px);
    line-height: 120%;
    font-weight: 700;
    color: var(--color-dark-blue);
  }

  &__card-variants {
    display: flex;
    flex-direction: column;
  }

  &__card-variant {
    padding: 30px 0;
    border-bottom: 1px solid var(--color-dark-green-opacity-80);

    &:last-child {
      padding-bottom: 0;
      border-bottom: 1px solid transparent;
    }
  }

  &__variant {
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__variant-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
  }

  &__variant-benecifary {
    font-family: var(--font-family-opensans);
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
  }

  &__variant-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__variant-iban {
    font-size: clamp(16px, 2.341vw, 18px);
    line-height: 24px;
    font-weight: 500;

    span {
      color: var(--color-dark-blue);
    }
  }

  &__variant-about {
    position: relative;
  }

  &__about-title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &__about-items {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }

  &__about-item {
    font-family: var(--font-family-opensans);
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;


    span {
      font-size: 18px;
      font-weight: 300;

      @media (max-width: 576px) {
        display: block;
        margin-top: 5px;
      }
    }
  }

  &__account-copy {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.4s ease;

    &::before {
      content: "Cкопійовано";
      position: absolute;
      padding: 10px;
      border-radius: 4px;
      font-size: 14px;
      line-height: 18px;
      color: #fff;
      background-color: var(--color-dark-green-opacity-80);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s ease;
      top: 100%;
    }

    &:hover {
      background-color: var(--color-dark-green-opacity-20);
    }

    &.copy {
      background-color: var(--color-dark-green-opacity-20);

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    svg {
      fill: #486735;
    }
  }
}
