<footer>
  <div class="container">
    <div class="footer">
      <a class="logo" href="/">
        <svg width='94' height='125'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
        <span>БО БФ Спецпідрозділ Карлсон</span>
      </a>

      <ul class="socials">
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='68' height='68'>
              <use href='img/sprite/sprite.svg#facebook'></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='60' height='60'>
              <use href='img/sprite/sprite.svg#telegram'></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='60' height='60'>
              <use href='img/sprite/sprite.svg#instagram'></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='72' height='72'>
              <use href='img/sprite/sprite.svg#youtube'></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='58' height='58'>
              <use href='img/sprite/sprite.svg#twitter'></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a class="socials__link" href="#">
            <svg width='64' height='64'>
              <use href='img/sprite/sprite.svg#tiktok'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

