<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>Благодійна Організація “Благодійний Фонд “Спецпідрозділ Карлсон”</title>
  <link href="img/fav.png" rel="icon"/>
  <link rel="preload" href="fonts/Oswald-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Oswald-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Oswald-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Oswald-SemiBold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Oswald-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/OpenSans-Light.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/OpenSans-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/OpenSans-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
