<header>
  <div class="container">
    <div class="header">
      <a class="logo" href="/">
        <svg width='94' height='125'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
        <span>БО БФ Спецпідрозділ Карлсон</span>
      </a>

      <div class="header__btns">
        <div class="email">
          <span class="email__text">mail:</span>
          <a class="email__link" href="mailto:carlson.unit@gmail.com">
            <svg width='22' height='24'>
              <use href='img/sprite/sprite.svg#email'></use>
            </svg>
            <span>carlson.unit@gmail.com</span></a>
        </div>
      </div>
    </div>
  </div>
</header>
